.img-container {
    margin-left: 25%;
}

#img-captured-photo {
    height: 200px;
    width: 200px;
}

#img-summary {
    height: 200px;
    width: 200px;
}

.img-summary-container {
    margin-left: 25%;
}

.img-grid {
    height: 150px;
    width: 150px;
}

.filters {
    margin-top: 70px;
    margin-bottom: 10px;
}

input.search-query {
    padding-left:26px;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
