.img-container {
    margin-left: 25%;
}

#img-captured-photo {
    height: 200px;
    width: 200px;
}

#img-summary {
    height: 200px;
    width: 200px;
}

.img-summary-container {
    margin-left: 25%;
}

.img-grid {
    height: 150px;
    width: 150px;
}
